{% extends "BaseTemplate.html.twig" %}
		{% block lien %}
    		<link rel="stylesheet" href="../../www/css/main.css" />
    	{% endblock %}
		{% block title %}
			{{ titre }}
		{% endblock %}
{% block h1 %}
	<h1>Bienvenue sur le topic {{ nomtopic }}</h1>
{% endblock %}
{% block content %}
	<p>{{ personnes_connectes }}</p>
	<p><i>Vous êtes ici : </i><a href ="/www/">Index du forum</a>--->Topic {{ nomtopic }}</p>
	<table id="tableau_tp">
		{% for elem in letopic %}
			<tr>
			<td><img src="/www/images/topic.jpg" alt="image"/></td><td><a href="{{membre_id}}/{{ elem.topic_id }}">{{ elem.topic_titre }}<a/></td>
			<td> Par <a href="/www/profil/{{elem.topic_createur}}">{{ elem.topic_createur }}</a></td>
			<td>{{ elem.topic_time }}</td>
			{% if (rang>1 and pseudo==elem.topic_createur) or rang==4 %}
				<td><a href="/www/forum/{{membre_id}}/suppr/{{elem.topic_id}}">X<a/></td>
			{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% if rang>1 %}
	<form method="post" action="/www/forum/{{membre_id}}/ajout">
		<label type="text"> Ajout d'un nouveau topic</label>
		<input type="text" name="topic_titre"></input>
		<input type="submit" value="Nouveau sujet" />
	</form>
	{% endif %}
{% endblock %}
